* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.container {
    max-width: 1154px;
    padding: 220px 30px 0 30px;
    margin: 0 auto;
}

.header {
    position: absolute;
    width: 100%;
}

.header .container {
    padding-top: 0;
}

.header-address__address-text {
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-left: 15px;

}

.header-telephone__number {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-left: 15px;
}

.header__svg-telegram {
    margin-left: 15px;
}

.header__svg-whatsapp {
    margin-left: 67px;
}

.header_columns {
    display: flex;
    /*position: relative;*/
    flex-direction: row;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-address {
    display: flex;
}

.header-telephone {
    display: flex;
}

.header__btn button {
    margin-top: 0;
    margin-left: 32px;
}

.hero {
    background-image: url("bg 1.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.hero__title {
    margin-bottom: 50px;
}

.hero h2 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}

button {
    margin-top: 40px;
    background-color: #FF7600;
    color: #FFFFFF;
    padding: 12px 60px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

span {
    color: #FF7600;
}

.hero__text {
    color: #FFFFFF;
    font-size: 15px;
}

.hero__lists {
    padding: 0;
}

.hero__list {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero__icon {
    padding-right: 20px;
}

.photo-video .container {
    padding-top: 80px;
}

.photo-video {
    background-color: #F1F1F1;
}

.title__color {
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
    position: relative;
}

.title__shadow {
    font-size: 71px;
    color: #DFDFDF;
    font-weight: bold;
    position: absolute;
    top: -40px;

}

.photo-video .photo-video__title {
    position: relative;
    padding-bottom: 50px;
}

.photo-video__content {
    padding-bottom: 125px;
}

.carousel {
    padding-bottom: 50px;
}

/*SWIPER*/
html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*carousel*/
.photo-vide__btn {
    margin: 0 auto;
    display: block;
    /*margin-bottom: 125px;*/
}

.guest-service {
    background-image: url("123 1.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.guest-service .container {
    padding-top: 180px;
}

.guest-service__content {
    padding-bottom: 125px;
}

.guest-service__title {
    position: relative;
    padding-bottom: 60px;
}

.guest-service__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
}

.guest-service__column {
    display: flex;
    justify-content: space-between;
}

.guest-service__column-image {
    width: 100%;
}

.guest-service .hero__text {
    color: black;
}

.guest-service__list {
    display: flex;
    align-items: center;
}

.guest-service__content .guest-service__columns h2 {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 20px;
}

.guest-service__lists {
    padding-left: 20px;
}

.guest-service__column {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.guest-service__column-image img {
    width: 280px;
    object-fit: cover;
    border-radius: 5px;
}

.solo-image {
    background-image: url("BG2 1.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
}

.solo-image .title__color {
    color: white;
    z-index: 4;
}

.solo-image__title {
    position: relative;
}

.solo-image__container {
    width: 850px;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #000000bf;
    border-radius: 5px;
    z-index: 2;
    position: relative;
}

.solo-image__container .title__shadow {
    z-index: 1;
    color: rgb(255 255 255 / 33%);
    font-size: 66px;
}

.solo-image__container .title__color {
    padding-top: 40px;
}

.solo-image__wrapper {
    display: flex;
    justify-content: flex-end;
}

.solo-image__container .solo-image__title {
    margin-bottom: 40px;
}

.solo-image .hero__text {
    font-weight: bold;
    padding-top: 20px;
}

.actions {
    /*background-color: #F1F1F1;*/
    background-image: url("Mask group-1.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.actions-title {
    position: relative;
}

.actions__content {
    /*padding-bottom: 60px;*/
}

.actions-title {
    padding-bottom: 60px;
}

.actions-content__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
}

.actions-content__column {
    /*display: grid;*/
    /*gap: 20px 15px;*/
}

.actions-content__image {
    height: 210px;
}

.actions-content__image img {
    width: 350px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.actions-content__title {
    font-size: 24px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 15px;
}

.actions-content__note {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}

.customer-reviews__title {
    position: relative;
    padding-bottom: 50px;
}

.customer-reviews textarea {
    width: 100%;
    height: 420px;
    margin-bottom: 140px;
}

.right-content__title {
    position: relative;
    padding-top: 40px;
}

.finnish-sauna {
    background-image: url("589dd11cd57ea15a2878d8ca 2.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.finnish-sauna .hero__text {
    color: #000000;
}

.finnish-sauna .right-content__text-list {
    display: flex;
    align-items: center;
}

.finnish-sauna .right-content__text {
    padding-top: 60px;
}

.finnish-sauna .container {
    display: flex;
    padding-bottom: 120px;

}

.finnish-sauna .right-content {
    padding-left: 30px;
}

.finnish-sauna .right-content__text-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
}

.finnish-sauna .right-content__text-description {
    font-size: 15px;
    padding-bottom: 30px;
    line-height: 30px;
}

.finnish-sauna .right-content__text-note {
    padding-top: 30px;
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 30px;
    font-style: italic;
}

.finnish-sauna button {
    margin-top: 0;
}

.bath-set__column-content {
    font-size: 24px;
    font-weight: bold;
    padding-top: 30px;
}

.bath-set__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    padding-top: 100px;
}

.bath-set__content {
    padding-bottom: 165px;
}

.bath-set__column-image {
    width: 100%;
}

.bath-set__column-image img {
    width: 345px;
    object-fit: cover;
    border-radius: 5px;
}

.bath-set .title__color {
    padding-top: 40px;

}

.kitchen {
    background-image: url("IMG_1844 1.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.kitchen .title__color {
    color: white;
}

.kitchen .title__shadow {
    color: rgb(255 255 255 / 33%);
}

.kitchen .kitchen__title {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.kitchen .kitchen__text {
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 15px;
}

.kitchen .kitchen__icons {
    display: flex;
    justify-content: center;
}

.kitchen .kitchen__icon {
    padding: 15px;
}

.kitchen__list-background {
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.73);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.kitchen .hero__text {
    color: #ffffff;
    font-weight: bold;
}

.kitchen .kitchen__list-1 {
    position: absolute;
    top: 60%;
}

.kitchen .kitchen__list-2 {
    position: absolute;
    left: 20%;
    top: 70%;
}

.kitchen .kitchen__list-3 {
    position: absolute;
    left: 45%;
    top: 75%;
}

.kitchen .kitchen__list-4 {
    position: absolute;
    left: 65%;
    top: 79%;
}

.kitchen .kitchen__list-5 {
    position: absolute;
    right: 8%;
    top: 72%;
}

.room .container {
    padding-top: 120px;
}

.room .room__right-content_list {
    display: flex;
    align-items: center;
}

.room .room__right-content_list .hero__text {
    color: black;
}

.room .room__right-content_list .hero__icon {
    padding: 10px 15px 10px 0;
}

.room .title__shadow {
    top: 40px;
}

.room .container {
    padding-bottom: 120px;
}

.room .room__right-content_title {
    padding-bottom: 60px;
}

.room .room__column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
}

.room .room_left-image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1
}

/*!*SWIPER*!*/


.fiesta__title {
    color: black;
    position: relative;
}

.fiesta .title__shadow {
    top: -80px;
}

.fiesta .fiesta__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 25px;
    padding-top: 100px;
    padding-bottom: 170px;
}

.fiesta .fiesta__column img {
    width: 345px;
    object-fit: cover;
    border-radius: 5px;
}

.fiesta .fiesta__column-title {
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}

.fiesta .fiesta__column p {
    text-align: center;
    line-height: 30px;
    padding-top: 15px;
    font-weight: bold;
}

.questions .title__shadow {
    top: -90px;
}

.questions__lists {
    padding-bottom: 200px;
}

.contacts {
    background-image: url("BG2 231.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
}

.contacts .contacts__title {
    position: relative;
    padding-bottom: 15px;
}

.contacts .contacts__title .title__shadow {
    color: rgba(255, 255, 255, 0.4);
}

.contacts .contacts__title .title__color {
    color: white;
}

.contacts .contacts__list {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.contacts .hero__icon {
    padding-right: 25px;
}

.contacts__columns{
    display: flex;
}

.contacts__left {
    width: 30%;
}
.contacts__right {
    padding-left: 100px;
    width: 70%;
}

.contacts .contacts__number {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 15px;
}

.contacts .contacts__address {
    padding-bottom: 40px;
}

.contacts button {
    margin: 0;
}

.contacts iframe{
    width: 100%;
    height: 450px;
}

.contacts .contacts__left {
    color: white;
}

/* Стили для подложки */

.overlay {

    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

/* Стили для модальных окон */

.modal {
    /* Скрываем окна  */
    opacity: 0;
    visibility: hidden;
    /*  Установаем ширину окна  */
    width: 100%;
    max-width: 500px;
    /*  Центрируем и задаем z-index */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; /* Должен быть выше чем у подложки*/
    /*  Побочные стили   */
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    /*padding: 30px;*/
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
    /*border: 2px solid #FF7600;*/
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
    opacity: 1;
    visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #FF7600;
    cursor: pointer;
}


/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

/*a {*/
/*    padding: 20px;*/
/*    display: inline-block;*/
/*    text-decoration: none;*/
/*    background-color: #414b52;*/
/*    margin: 10px;*/
/*    color: #fff;*/
/*    border-radius: 3px;*/
/*}*/

.modal-background {
    background-image: url("bg 1.png");
    background-repeat: no-repeat;
    height: 560px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FF7600;
}

.modal-background_2 {
    background-image: url("IMG_8458 1.png");
    background-repeat: no-repeat;
    height: 560px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


.modal-items {
    width: 422px;
    height: 482px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-item {
    display: flex;
    flex-direction: column;
}

.modal .modal-title {
    font-size: 27px;
    color: white;
    font-weight: bold;
    padding-bottom: 25px;
}

.modal .modal-text{
    font-size: 16px;
    color: white;
    line-height: 25px;
}

.modal input {
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
}

.modal input::placeholder {
    color:black;
}

.modal button {
    margin: 0;
}

.questions__title {
    padding-bottom: 40px;
}

/*accordion*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 24px;
    border: none;
    /*border-color: black;*/
    outline: 3px solid black;
    /*outline: none;*/
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
    color: #EA8F41;
    border: none;
    outline: none;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.questions p {
    font-size: 16px;
    padding-top: 10px;
    line-height: 25px;
}

